<h1><%= @story.title %>, by <%=@story.user.username%></h1>
	<div class='story_content'>
		<p><%= @story.content %></p>
	</div>
	<br>
	<div class='build_road_button'>
		<a href="/protected/write_road/<%=@story.id%>" class="btn btn-default">Build a Road</a>
	</div>

<ul>
<% @roads.each do |road| %>
	<li><%= road.content %>   <%= road.up_votes %>  upvotes   <%= road.down_votes %>   downvotes</li>
<% end %>
</ul>