<div class='user_profile_pic'>Profile Pic</div>
<div class='user_profile_stats'>Statistics</div>

<div class='user_page_right_column'>
	<div id='user_stories'>
		<h2>Your Stories Written</h2>
		<div class='list-group'>
		<% @stories.each do |story| %>
			<a href="/protected/user_story/<%=story.id%>" class='list-group-item'><%= story.title %><span class='creation_date'><%=story.created_at.to_date.strftime('%a %d %b %Y')%></span></a>
		<% end %>
		</div>
	</div>

	<div id='user_roads'>
		<h2>Your Roads Written</h2>
		<div class='list-group'>
		<% @roads.each do |road| %>
			<a href="/public_story/<%=road.road_story.id%>" class='list-group-item'><%= road.content.slice(0..35) + '...' %><span class='creation_date'><%=road.created_at.to_date.strftime('%a %d %b %Y')%></span></a>
		<% end %>
		</div>
	</div>
</div>

<div id='user_favorites'>
	<h2>Your Favorite Stories</h2>
	<div class='list-group'>
	<% @favorites.each do |fav| %>
		<a href="/public_story/<%=fav.story.id%>" class='list-group-item'><%= fav.story.title %></a>
	<% end %>
	</div>
</div>